@tailwind base;

@tailwind components;

@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
  cursor: url('/cursors/stronghold.png'), auto;
}

a,
button {
  cursor: url('/cursors/stronghold_pointer.png'), pointer;
}

input,
textarea,
label,
input::selection,
textarea::selection {
  cursor: url('/cursors/stronghold_writer.png'), auto;
}
